*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 1140px;
}

.result {
  align-self: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.search-form {
  display: flex;
  gap: 34px;
  align-items: start;
  margin-top: 16px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  /* overflow: hidden; */
  padding: 0 2px 2px 2px;
}

.search-form__fieldset:first-of-type {
  width: 225px;
}

.search-form__fieldset:nth-of-type(2) {
  width: 212px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 225px;
  height: 27px;
  background-color: inherit;
  border-top: 1px solid white;
  border-right: none;
  border-bottom: 1px solid white;
  border-left: none;
  color: #fff;
  appearance: none;
  padding-top: 5px;
}

.search-form__textfield::placeholder {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
}

.search-form__pseudo-checkbox {
  height: 21px;
  width: 21px;
  border: 1px solid #fff;
  padding: 1px 1px 1px 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + ::after {
  opacity: 1;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
  flex-shrink: 0;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 10px;
  padding: 0 0 2px 2px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 299px;
  overflow-y: scroll;
  margin-top:20px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.content__video-card {
  display: flex;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__details {
  width: 100%;
}


